@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.eot');
  src: url('./fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Montserrat-Regular.woff2') format('woff2'),
  url('./fonts/Montserrat-Regular.woff') format('woff'),
  url('./fonts/Montserrat-Regular.ttf') format('truetype'),
  url('./fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: Montserrat;
}



.ant-select {
  &-open {
    & .ant-select-selector {
      border: 1px solid #543FD3 !important;
    }
  }
  &-selector {
    height: auto !important;
    padding: 12px 36px 12px 12px !important;
    border: 1px solid #949494 !important;
    box-sizing: border-box !important;
    border-radius: 4px !important;
    box-shadow: none !important;
  }
}

.ant-select.error {
  & .ant-select-selector {
    border: 1px solid #EE0004 !important;
  }
}
